<div id="BugDetail" class="row card">
  <div class="col card-body">
    <div class="bg-light clearfix">
      <div class="float-right" style="padding:5px;">
        <i class="icon-plus icon-large" style="margin-left:5px;"></i><a href="#"> New</a>
        <i class="icon-save icon-large" style="margin-left:5px;"></i><a href="javascript: bugForm.submit();"> Save</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <!-- <form [formGroup]="bugForm" (ngSubmit)="onSubmit()" style="margin: 10px; ">
              <div class="form-group">
                <label for="tittle">Tittle</label>
                <input type="text" formControlName="tittle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tittle.errors }" />
                <div *ngIf="submitted && f.tittle.errors" class="invalid-feedback">
                  <div *ngIf="f.tittle.errors.required">Tittle is required</div>
                </div>
              </div>

              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form> -->
        <form id="bugForm" name="bugForm" #bugForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <button type="submit" class="btn btn-success" [disabled]="!bugForm.form.valid">Submit</button>
          <div class="form-group row">
            <label for="BugID" class="col-sm-2 col-form-label">Bug#:</label>
            <div class="col-sm-10">
              <input type="text" readonly disabled class="form-control-plaintext" id="BugID" value="{{ bug.id }}">
            </div>
          </div>
          <div class="form-group row">
            <label for="tittle" class="col-sm-2 col-form-label">Tittle:</label>
            <div class="col-sm-10">
              <input id="tittle" name="tittle" type="text" class="form-control" 
                [(ngModel)]="bug.tittle" #tittle="ngModel">
              <div *ngIf="tittle.invalid && (tittle.dirty || tittle.touched)" class="alert alert-danger">
                <div *ngIf="tittle.errors.required">
                  Tittle is required.
                </div>
                <div *ngIf="tittle.errors.minlength">
                  Tittle must be at least 5 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group  row">
              <label for="Severity" class="col-sm-3 col-form-label">Severity:</label>
              <div class="col-sm-9">
                <select id="Severity" class="form-control">
                  <option>High</option>
                  <option>Midium</option>
                  <option>Low</option>
                </select>
              </div>
            </div>
            <div class="col form-group  row">
              <label for="Priority" class="col-sm-3 col-form-label">Priority:</label>
              <div class="col-sm-9">
                <select id="Priority" class="form-control">
                  <option>High</option>
                  <option>Midium</option>
                  <option>Low</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group  row">
              <label for="CreatedBy" class="col-sm-5 col-form-label">Created By:</label>
              <div class="col-sm-7">
                <select id="CreatedBy" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="col form-group  row">
              <label for="CreatedOn" class="col-sm-5 col-form-label">Created On:</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="CreatedOn" value="">
              </div>
            </div>
            <div class="col form-group  row">
              <label for="AssignedTo" class="col-sm-5 col-form-label">Assigned To:</label>
              <div class="col-sm-7">
                <select id="AssignedTo" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          </div>
          <div>
            <tabset>
              <tab heading="Description" id="tab1">
                <textarea id="description" name="description" class="form-control" placeholder="Please input description."
                  required maxlength="1000" [(ngModel)]="bug.description" #description="ngModel"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                  <div *ngIf="description.errors.required">
                    Description is required.
                  </div>
                </div>
              </tab>
              <tab heading="Attachment">Attachment</tab>
              <tab heading="History">History</tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
