<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tittle</th>
      <th scope="col">Created By</th>
      <th scope="col">Created Date</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Shipment creation fails</td>
      <td>Lily</td>
      <td>2019-1-10</td>
      <td>Michael</td>
      <td>Confirmed</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Monitor download fails</td>
      <td>Sandy</td>
      <td>2019-1-12</td>
      <td>Skyline</td>
      <td>Fixing</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Shipment creation fails</td>
      <td>Lily</td>
      <td>2019-1-10</td>
      <td>Michael</td>
      <td>Confirmed</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Shipment creation fails</td>
      <td>Lily</td>
      <td>2019-1-10</td>
      <td>Michael</td>
      <td>Confirmed</td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
