<nz-layout>
  <nz-header>
    <div nz-row>
      <div id="logo" nz-col nzSpan="2"><h2>Bug Free</h2></div>
      <div id="menu" nz-col nzSpan="18"><app-menu></app-menu></div>
      <div id="login" nz-col nzSpan="4">
          <div id="user">
              Welcome, Michael!
              <nz-divider nzType="vertical"></nz-divider>
              <a href="#">Logout</a>
            </div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-card id="search"><nz-sider>left sidebar</nz-sider></nz-card>
    <nz-content div="content">
      <nz-card id="search">Search</nz-card>
      <nz-card id="buglist">bug list</nz-card>
      <nz-card id="bugdetail">bug detail</nz-card>
    </nz-content>
  </nz-layout>
  <nz-footer>footer</nz-footer>
</nz-layout>
